.eight {
    font-size: 8px;
}

.nine {
    font-size: 9px;
}

.ten {
    font-size: 10px;
}

.eleven {
    font-size: 11px;
}

.twelve {
    font-size: 12px;
}

.thirting {
    font-size: 14px;

}

.forting {
    font-size: 18px;

}

.fifting {
    font-size: 24px;

}

.sixting {
    font-size: 36px;

}

.seventing {
    font-size: 48px;

}

.eighting {
    font-size: 60px;

}

.nineting {
    font-size: 72px;
}